6_Capstone_Resume_screening.json
{
  "name": "6_Capstone_Resume_screening",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        -352
      ],
      "id": "412c5eef-236c-4563-9f50-ea3013bb74d0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -656,
        -272
      ],
      "id": "21f4645e-f0be-4369-8bf8-5bfb42a7837a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "03b65ad0-da51-4381-bb14-7618b4167a95"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c8af6a55-aea2-49f7-8396-b155ad89c27f",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -864,
        -352
      ],
      "id": "8460d0c2-8b1a-43c5-b674-590bbca5236d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fEZiLaihoJcEZG5wg1eg4dD-nn5uVomr",
            "mode": "list",
            "cachedResultName": "resume",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1fEZiLaihoJcEZG5wg1eg4dD-nn5uVomr"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1040,
        -352
      ],
      "id": "8adf9c09-9271-4d36-9829-6808713e6c6b",
      "name": "Resume search",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wVockfvg0WZTyp02",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        -256
      ],
      "id": "66133992-6459-4d7c-9bb2-3eb294c88a76",
      "name": "Download PDF Resume",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wVockfvg0WZTyp02",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1qVgRXTTM34UHnPsvVCV1-ovi1nIOZCqr",
          "mode": "list",
          "cachedResultName": "Java-Developer(Chennai,India).pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1qVgRXTTM34UHnPsvVCV1-ovi1nIOZCqr/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        -256
      ],
      "id": "6e58df0d-1e36-4d06-8998-52516b469a16",
      "name": "Download Job Description",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wVockfvg0WZTyp02",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -224,
        -256
      ],
      "id": "a455cd21-6698-4458-947d-468f1bc7efc8",
      "name": "Extract Resume data"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        160,
        -256
      ],
      "id": "6c4fcdb4-b843-4c8d-af50-33a64aa13297",
      "name": "Extract Job Description Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here the candidate's information extracted from their resume:\n\nResume: {{ $('Extract Resume data').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n#Context\n\nYou are getting a resume , and job description. Your task is to analyse the resume, match its relevancy with the job description, and provide a detailed screening report. \nyou will focus on how candidate's profile match with the job requirements. Evaluate the resume for the technical skills and business context both. Focus on the content in the resume\nand use the reasoning instead of making assumptions. Return a single flat JSON object containing extracted information.\n\nHere you have the tool called 'think()' - use it if you need to organize your thoughts before generating the final JSON\n\n# Output Rules\n\nyour final output must follow this structure:\n{\n\t\"candidateName\": \"Name of the Candidate\",\n\t\"currentOrganization\": \"company the candidate currently working in\",\n\t\"skills\": \"any skills which are mentioned in the resume\",\n\t\"phoneNumber\": \"candidate's phone number, remove plus signs or any operator\",\n\t\"emailId\": \"candidate's email id\",\n\t\"location\": \"candidate's current location\",\n\t\"strength\": \"candidate's top strength or skills relevant to the job description\",\n\t\"weakness\": \"areas where candidate lacking the skills or is mismatched based on the job description\",\n\t\"relevanceScore\": \"score of the candidate out of 10, where 0 is terrible match and 10 is prefect match. Do not give decimals\",\n\t\"justification\": \"explain clearily why this candidate received the relevance score. Be specific and refer to the resume content and job description\"\n}\n\n# Job Description\n\n{{ $json.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        -256
      ],
      "id": "656b1e90-b00c-4856-b3c7-646f26b9bc26",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        -48
      ],
      "id": "c8f10ae7-88c8-43be-8c7a-c0f2787d6053",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aph5LvaF9B394STY",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        576,
        -48
      ],
      "id": "cb722da1-8055-4089-b84e-05f234d1e180",
      "name": "Think"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"candidateName\": \"Kesigan\",\n  \"currentOrganization\": \"Comcast\",\n  \"skills\": \"Cloud, Devops, Java, Python\",\n  \"phoneNumber\": \"7338874913\",\n  \"emailId\": \"kesigan@gmail.com\",\n  \"location\": \"Chennai\",\n  \"strength\": \"Java, Cloud\",\n  \"weakness\": \"No Java Spring experience\",\n  \"relevanceScore\": \"7\",\n  \"justification\": \"The job requires advanced Java Springboot experience which candidate doesn't have, for the other skills it fits requirements prefectly \"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        -64
      ],
      "id": "7b2eb61c-f8b0-4049-9c00-e9ef07d5d861",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kSPVeY_GQIpqiDfMA7DXlDTR4Ivm6KmIsBtkS65eO6k",
          "mode": "list",
          "cachedResultName": "result_file",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSPVeY_GQIpqiDfMA7DXlDTR4Ivm6KmIsBtkS65eO6k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSPVeY_GQIpqiDfMA7DXlDTR4Ivm6KmIsBtkS65eO6k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.candidateName }}",
            "Organization": "={{ $json.output.currentOrganization }}",
            "Phone Number": "={{ $json.output.phoneNumber }}",
            "Email ID": "={{ $json.output.emailId }}",
            "Location": "={{ $json.output.location }}",
            "Strength": "={{ $json.output.strength }}",
            "Weakness": "={{ $json.output.weakness }}",
            "Rating": "={{ $json.output.relevanceScore }}",
            "Reason for Rating": "={{ $json.output.justification }}",
            "ID": "={{ $('Resume search').item.json.id }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Organization",
              "displayName": "Organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strength",
              "displayName": "Strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weakness",
              "displayName": "Weakness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason for Rating",
              "displayName": "Reason for Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -96
      ],
      "id": "d4534154-8379-40d4-b613-5a5cff7cb257",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uc9rwJYJ0PViM6bo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        -672
      ],
      "id": "37921ce8-578f-419c-99d5-51f0c21b5bd6",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1qVgRXTTM34UHnPsvVCV1-ovi1nIOZCqr",
          "mode": "list",
          "cachedResultName": "Java-Developer(Chennai,India).pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1qVgRXTTM34UHnPsvVCV1-ovi1nIOZCqr/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -656
      ],
      "id": "8aeb46b9-9fc3-4307-8da4-e94c0fb8e8b8",
      "name": "Download Job Description1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wVockfvg0WZTyp02",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -224,
        -656
      ],
      "id": "cac58347-a24f-434f-82b5-8b288c60041d",
      "name": "Extract Resume data1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        176,
        -656
      ],
      "id": "a703a905-75a8-4850-a959-38e2076bcf3f",
      "name": "Extract Job Description Data1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kSPVeY_GQIpqiDfMA7DXlDTR4Ivm6KmIsBtkS65eO6k",
          "mode": "list",
          "cachedResultName": "result_file",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSPVeY_GQIpqiDfMA7DXlDTR4Ivm6KmIsBtkS65eO6k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kSPVeY_GQIpqiDfMA7DXlDTR4Ivm6KmIsBtkS65eO6k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.candidateName }}",
            "Organization": "={{ $json.output.currentOrganization }}",
            "Phone Number": "={{ $json.output.phoneNumber }}",
            "Email ID": "={{ $json.output.emailId }}",
            "Location": "={{ $json.output.location }}",
            "Strength": "={{ $json.output.strength }}",
            "Weakness": "={{ $json.output.weakness }}",
            "Rating": "={{ $json.output.relevanceScore }}",
            "Reason for Rating": "={{ $json.output.justification }}",
            "ID": "={{ $('Resume search').item.json.id }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Organization",
              "displayName": "Organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strength",
              "displayName": "Strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weakness",
              "displayName": "Weakness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason for Rating",
              "displayName": "Reason for Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        -528
      ],
      "id": "22c6d578-f84d-4321-8c74-3c8a1b7b0092",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uc9rwJYJ0PViM6bo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here the candidate's information extracted from their resume:\n\nResume: {{ $('Extract Resume data1').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n#Context\n\nYou are getting a resume , and job description. Your task is to analyse the resume, match its relevancy with the job description, and provide a detailed screening report. \nyou will focus on how candidate's profile match with the job requirements. Evaluate the resume for the technical skills and business context both. Focus on the content in the resume\nand use the reasoning instead of making assumptions. Return a single flat JSON object containing extracted information.\n\nHere you have the tool called 'think()' - use it if you need to organize your thoughts before generating the final JSON\n\n# Output Rules\n\nyour final output must follow this structure:\n{\n\t\"candidateName\": \"Name of the Candidate\",\n\t\"currentOrganization\": \"company the candidate currently working in\",\n\t\"skills\": \"any skills which are mentioned in the resume\",\n\t\"phoneNumber\": \"candidate's phone number, remove plus signs or any operator\",\n\t\"emailId\": \"candidate's email id\",\n\t\"location\": \"candidate's current location\",\n\t\"strength\": \"candidate's top strength or skills relevant to the job description\",\n\t\"weakness\": \"areas where candidate lacking the skills or is mismatched based on the job description\",\n\t\"relevanceScore\": \"score of the candidate out of 10, where 0 is terrible match and 10 is prefect match. Do not give decimals\",\n\t\"justification\": \"explain clearily why this candidate received the relevance score. Be specific and refer to the resume content and job description\"\n}\n\n# Job Description\n\n{{ $json.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        -656
      ],
      "id": "8601b6ba-6fa4-46ff-8051-1e8890fc8252",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        -480
      ],
      "id": "400b5c50-afd6-4651-a078-55fc97888329",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "aph5LvaF9B394STY",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        560,
        -464
      ],
      "id": "56de4f38-dad9-4bb3-9873-b3783c972514",
      "name": "Think1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"candidateName\": \"Kesigan\",\n  \"currentOrganization\": \"Comcast\",\n  \"skills\": \"Cloud, Devops, Java, Python\",\n  \"phoneNumber\": \"7338874913\",\n  \"emailId\": \"kesigan@gmail.com\",\n  \"location\": \"Chennai\",\n  \"strength\": \"Java, Cloud\",\n  \"weakness\": \"No Java Spring experience\",\n  \"relevanceScore\": \"7\",\n  \"justification\": \"The job requires advanced Java Springboot experience which candidate doesn't have, for the other skills it fits requirements prefectly \"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        -480
      ],
      "id": "40a82b0d-dfb0-417f-a5ec-655a4c2b92c3",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        -656
      ],
      "id": "c0959d7c-2ea1-44d0-be51-600327fbd525",
      "name": "Download Word Resume",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wVockfvg0WZTyp02",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Resume search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download PDF Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume search": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF Resume": {
      "main": [
        [
          {
            "node": "Extract Resume data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Job Description": {
      "main": [
        [
          {
            "node": "Extract Job Description Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume data": {
      "main": [
        [
          {
            "node": "Download Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Description Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Download Word Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Job Description1": {
      "main": [
        [
          {
            "node": "Extract Job Description Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume data1": {
      "main": [
        [
          {
            "node": "Download Job Description1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Description Data1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Word Resume": {
      "main": [
        [
          {
            "node": "Extract Resume data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4f78991-1983-49b4-8c1b-0f19f5f830c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48ee55c1b723a2316aea7569ae4b594f6e74c56fc902780fd6b5ec8cffcd602d"
  },
  "id": "SlbtSWhQFQqmfFlw",
  "tags": []
}